<div id="fh5co-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>&copy; 2017 Free HTML5 Template. All Rights Reserved.
					<br>Designed by
					<a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a>
					Demo Images:
					<a href="http://unsplash.com" target="_blank">Unsplash</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop">
		<i class="icon-arrow-up22"></i>
	</a>
</div>
